@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300&display=swap');
* {
    /* Biar  gak ngulang */
    font-family: 'Poppins';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
}

a {
    text-decoration: none;
}

header {
    /* Style Header yg di atas navbar */
    padding: 10px;
    width: 100%;
    background-color: #3771B6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .head {
    margin-left: 1.5cm;
    font-size: 12px;
    color: #6aa6f0;
}

nav {
    /* style navbar */
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    background-color: #FFFFFF;
    position: sticky;
    z-index: 2;
    display: flex;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

nav ul {
    list-style: none;
    padding: 0 20px;
    position: relative;
    display: inline-table;
    width: 100%;
}

nav a {
    color: #3771B6;
}

nav ul li {
    float: left;
    margin-left: 3.5em;
}

.social-media {
    display: flex;
    gap: 23px;
    margin-top: 1cm;
    font-size: 20px;
    transition: all 0.3s;
}

.main {
    padding: 20px;
    width: 100%;
}

.main video {
    margin: 7px 0px;
    filter: brightness(70%);
    width: 100%;
    height: 50%;
}

.main img {
    max-width: 100%;
    height: auto;
}

.main a {
    font-weight: bold;
}

.row {
    display: flex;
}

.action {
    color: #3771B6;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

#tentang,
#berita {
    margin-top: 90px;
}

.row .about {
    padding: 10px;
    border: 1px solid #dedede;
}

.row .card {
    margin: 20px 10px 0px 10px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
}

.isi {
    padding: 10px;
}

.row .btn-berita {
    font-weight: 300;
    margin: 50px 0px 20px 42%;
    padding: 15px;
    text-align: center;
    background-color: #16549A;
    color: #fff;
    transition: all 0.3s;
}

.row .btn-berita:hover {
    background-color: #2573CB;
    transition: all 0.3s;
}

#footer {
    padding: 20px;
    margin-left: 40px;
}

.footer .col-footer-3 {
    display: grid;
}

.footer .col-footer-3 a:hover {
    transition: all 0.2s ease-in-out;
    color: #F51F8A;
}

.footer .col-footer-3 a {
    color: #4F6F80;
}

.copyright {
    background-color: #16191E;
    padding: 8px 0px 8px 1.6cm;
    color: #4F6F80;
    font-size: 14px;
    width: 100%;
}

.footer {
    align-items: center;
    clear: both;
    width: 100%;
    color: #4F6F80;
    padding: 15px;
    background: #1E2127;
}


/* Responsive */

@media screen and (min-width:1010px) and (max-width:1100px) {
    nav {
        display: flex;
    }
    .container {
        width: 100%;
    }
    .row {
        display: grid;
    }
}

@media screen and (min-width:781px) and (max-width:1009px) {
    * {
        font-size: 12px;
    }
    header {
        display: none;
    }
    nav {
        display: grid;
    }
    nav img {
        width: 350px;
        margin: 20px 0px 20px 260px;
    }
    nav .link-nav {
        margin-left: 176px;
    }
    nav .link-nav a {
        font-size: 18px;
    }
    .container {
        width: 100%;
    }
    .row {
        display: flex;
    }
    .row .btn-berita {
        font-size: 11px;
        margin-left: 295px;
        width: 140px;
    }
    .footer {
        display: flex;
        align-items: center;
        clear: both;
        width: 100%;
        color: #4F6F80;
        background: #1E2127;
    }
}

@media screen and (max-width: 780px) {
    * {
        font-size: 12px;
    }
    header {
        display: none;
    }
    nav {
        display: grid;
    }
    nav img {
        width: 250px;
        margin: 20px 0px 20px 100px;
    }
    nav .link-nav {
        margin-left: 0;
    }
    nav .link-nav a {
        font-size: 13px;
    }
    .container {
        width: 100%;
    }
    .row {
        display: grid;
    }
    .row .btn-berita {
        font-size: 11px;
        margin-left: 150px;
        width: 140px;
    }
    .footer {
        display: grid;
        align-items: center;
        clear: both;
        width: 100%;
        color: #4F6F80;
        background: #1E2127;
    }
}